/*
gray: #22262a;
gray2: #28323a;

lightgray: #ECF0F1
mediumgray: #dee2e2;

nice blue: #4286f4;
nice orange: #ff9d00;
*/

@font-face {
    font-family: Colfax-Light;
    src: url(fonts/Colfax-Light.otf);
}

@font-face {
    font-family: Colfax-Regular;
    src: url(fonts/Colfax-Regular.otf);
}
@font-face {
    font-family: Colfax-Thin;
    src: url(fonts/Colfax-Thin.otf);
}

@font-face {
    font-family: Colfax-Bold;
    src: url(fonts/Colfax-Bold.otf);
}

body{
	font-family: Colfax-Regular;
	color: #22262a;
}

.introBlock {
	height: 400px;
	padding: 30px;
	background-image:
       linear-gradient(-135deg, rgba(0,0,0,0),rgba(0,0,0,.6)),
	    linear-gradient(180deg, rgba(0,0,255,0),rgba(0,0,255,.2)),
	    linear-gradient(45deg, rgba(100,0,0,0),rgba(255,0,0,.3)),
        linear-gradient(-45deg, #4175fc, #221dc1); 

}

.name{
	padding: 0px;
	color: #edf2ff;
	font-family: Colfax-Regular;
	font-weight: 900;
	font-size: 10em;
	line-height: 130px;
	margin-top: 100px;
/*	display: block;
	position: absolute;
	bottom: -20px;*/
}



