/*
gray: #22262a;
gray2: #28323a;

lightgray: #edf2ff
mediumgray: #dee2e2;

nice blue: #0A1EDF;
light blue; #4175fc
nice orange: #ff9d00, #ffa100, ffb200;
*/

@font-face {
    font-family: Colfax-Light;
    src: url(fonts/Colfax-Light.otf);
}

@font-face {
    font-family: Colfax-Regular;
    src: url(fonts/Colfax-Regular.otf);
}
@font-face {
    font-family: Colfax-Thin;
    src: url(fonts/Colfax-Thin.otf);
}

@font-face {
    font-family: Colfax-Bold;
    src: url(fonts/Colfax-Bold.otf);
}

body{
	font-family: Colfax-Regular;
	color: #22262a;
	background-color: black;
}
.navbar-custom{
	background-color: #edf2ff;
	height: 50px;
}
.introBlock {
	background-color: #ff9d00;
	/*padding-left: 50px;*/
	padding-top: 200px;
	z-index: 1;
	border-bottom: 20px solid #ff7700
}

.name{
	color: #edf2ff;
	font-family: Raleway;
	font-size: 8em;
	line-height: 100px;
	margin-top: 20px;
	margin-left: 50px;
	/*opacity: 1;*/
	}


.myFace{
	/*height: 550px;*/
	max-width: 100%;
    -webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);
}

.coolLine{
	position: absolute;
	bottom: 0px;
}

.title{
	font-family: Raleway;
	font-size: 4em;
	margin: 40px;
	color: #4175fc;
}

.aboutBlock{
	height: 500px;
	color: #ecf0f1;
	border-bottom: 20px solid #231b5b;
	font-family: Helvetica;
	padding-top: 30px;
	/*background-color: #12037f;# 0c015b*/
	background-image: 
		linear-gradient(135deg,rgba(0,0,0,.8),rgba(0,0,0,.5)),
		linear-gradient(0deg,rgba(18, 3, 127,.99),rgba(12, 1, 91,.97));
}


.redFiller{
	background-color: #a0034f;
	/*border-right: 20px solid #a00332;*/
	/*background-color: #bc0903;*/
	min-height: 100px;
	background-image: 
		url("doodle.png"),
		linear-gradient(130deg,rgba(0,0,0,.3),rgba(0,0,0,.1)),
		linear-gradient(0deg,rgba(160, 3, 79,1),rgba(160, 3, 50,1));
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.aboutText{
	font-family: Raleway;
	font-size: 2em;
	font-weight: 300;
}

.artBlock{
	background-color: #131314;
}

.carousel-item img{
	max-height: 600px;
}

.noPad {
	padding: 0px !important;
}
